
#mainid2{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#h1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    width: 40vw;    
    background-color: rgb(243, 193, 27);
    text-align: center;
    border-radius: 8px;
    height: 18vh;
    font-size:xx-large;
    margin: 10px;
}
#h3{
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    width: 20vw;    
    background-color: rgb(243, 27, 27);
    text-align: center;
    border-radius: 5px;
    height: 10vh;
}